<!--card Wider -->
<div class="card card-cascade wider" *ngIf="currentProduct">

  <!-- Card image -->
  <div class="view view-cascade overlay">

    <img class="card-img-top" [src]="currentProduct.photo" width="9" height=200px>
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body card-body-cascade text-center " *ngIf="currentClient">
    <div style="width: 600px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #F5D989;">
      <!-- Title -->
      <h4 class="card-title Times New Roman"><strong>{{currentProduct.name}}</strong></h4>
      <!-- Subtitle -->
      <nav>
        <u class="blue-text card-body card-body-cascade  "><strong>Information sur le produit</strong></u>
        <p><strong>Prix : </strong>{{currentProduct.currentPrice}} DH</p>
        <p><strong>Description : </strong>{{currentProduct.description}}</p>
        <p><strong>&Eacute;tat : </strong>{{currentProduct.state}}</p>
        <u class="blue-text pb-2  text-center"><strong>Information sur le propriétaire du produit</strong></u>
        <p><strong>Nom : </strong>{{currentClient.name}}</p>
        <p><strong>Email : </strong>{{currentClient.email}}</p>
        <p><strong>Num&eacute;ro de t&eacute;l&eacute;phone :</strong>{{currentClient.phoneNumber}}</p>
        <p><strong>Adresse : </strong>{{currentClient.address}}</p>

        <!-- Text -->
        <p class="card-text"> </p>

        <div class="card-body card-body-cascade text-center">
       <span *ngIf="currentProduct.promotion">
            <img  src="assets/images/promos.jpg" class="img-thumbnail img-circle" width="20" height=10px >
          </span>
          <span *ngIf="currentProduct.selected">
            <img src="assets/images/favorites.jpg" class="img-thumbnail img-circle" width="20" height=10px>
          </span>
          <span *ngIf="currentProduct.available">
            <img src="assets/images/available.jpg" class="img-thumbnail img-circle" width="20" height=10px>
          </span>

          <form  #f="ngForm" (ngSubmit)="onAddProductToCaddy(currentProduct)">
            <button>
              <img src="assets/images/caddy.jpg" class="img-thumbnail img-circle" style="width: 40px">
            </button>
          </form>

          <!-- Linkedin -->
          <a class="px-2 fa-lg li-ic"><i class="fab fa-linkedin-in"></i></a>
          <!-- Twitter -->
          <a class="px-2 fa-lg tw-ic"><i class="fab fa-twitter"></i></a>
          <!-- Dribbble -->
          <a class="px-2 fa-lg fb-ic"><i class="fab fa-facebook-f"></i></a>

        </div>
      </nav>
    </div>
  </div>









