<!-- Material form register -->
<div class="card">

    <h5 class="card-header orange white-text text-center py-4">
        <strong>Créer un nouveau produit</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

        <!-- Form -->
        <form class="text-center" style="color: #757575;" action="#!">

            <div class="form-row">
                <div class="col">
                    <!--  name -->
                    <div class="md-form">
                        <input type="text" id="materialRegisterFormFirstName" class="form-control">
                        <label for="materialRegisterFormFirstName">Nom du produit</label>
                    </div>
                </div>
                <div class="col">
                    
                    <!-- prix -->
                    <div class="md-form">
                        <input type="number" id="prix" name="prix" class="form-control">
                     <label for="prix">Prix</label>
                    </div>
                </div>
            </div>

            <!-- description -->
            <div class="md-form mt-0">
                <textarea id="description" class="form-control">
                </textarea>
                <label for="description">Description</label>

            </div>

            <!-- LIEN PHOTO -->
            <div class="md-form">
                <textarea id="photo" class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock">
                </textarea>
                <label for="photo">photo</label>
            </div>
            <p>NB: pour des raisons d'optimisation, les utilisateurs sont priés d'ajouter les liens des photos</p>


        
            <!-- Sign up button -->
            <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Soumettre</button>

            <!-- Social register -->
            <p>Vous pouvez également ajouter vos produits sur nos reseaux sociaux:</p>

            <a type="button" class="btn-floating btn-fb btn-sm">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a type="button" class="btn-floating btn-tw btn-sm">
                <i class="fab fa-twitter"></i>
            </a>
            <a type="button" class="btn-floating btn-li btn-sm">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a type="button" class="btn-floating btn-git btn-sm">
                <i class="fab fa-github"></i>
            </a>

            <hr>

            <!-- Terms of service -->
            <p>En ajoutant un produit vous acceptez de vous soumettre à nos<a href="#"> legalisations</a>

        </form>
        <!-- Form -->

    </div>

</div>
<!-- Sportrent form register -->

<br>
<br>
<br>